.container1 {
    position: relative;

  }
  
  .image1 {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(255, 255, 255);
  }
  
  .container1:hover .overlay1 {
    opacity: 0.9;
  }
  
  .text1 {
    color: rgb(0, 0, 0);
    font-size: 0.8em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }